<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumClients" value="100" />
    <!--add key="ReservationsServiceURI" value="https://*YOUR WEBSITE NAME*.azurewebsites.net/"/-->
    <add key="ReservationsServiceCollection" value="api/reservations"/>
  </appSettings>
</configuration>